################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/NeuroForge.slnx
/src/dotnet/NeuroForge.Factory/obj
/src/NeuroForge.Testing/bin/Debug/net10.0
/src/NeuroForge.Testing/obj
/.vs/CopilotSnapshots/DC420DE98D87404499DCF6D9D1C51C4C
/src/.vs/NeuroForge/CopilotIndices/18.8.1055.19665
/src/.vs/ProjectEvaluation
/src/dotnet/NeuroForge.Factory/bin/Debug/net10.0
